[Unit]
Description=DynaFlare, a simple DDNS client for Cloudflare
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=${DYNAFLARE_USER}
WorkingDirectory=${DYNAFLARE_WDIR}
ExecStart=${DYNAFLARE_EXEC}
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
